@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind utilities;
  @tailwind variants;
}

html {
  font-family: 'Noto Sans Traditional Chinese';
}

 
html body main {
  padding: 0 !important;
  margin: 0 !important;
}


