@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind utilities;
  @tailwind variants;
}

input[type="text"]:focus {
  @apply outline-none ring-0;
}

.my-btn {
  @apply inline-block px-1 py-1 rounded bg-gray-600 [&:not(:disabled)]:bg-teal-600 dark:bg-gray-400 cursor-pointer [&:not(:disabled)]:hover:bg-teal-600 [&:not(:disabled)]:dark:hover:bg-teal-700 text-white disabled:bg-gray-600 disabled:opacity-50 disabled:cursor-default;
}

.my-link {
  @apply rounded-lg hover:bg-gray-700/50 transition-all;
}