@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind utilities;
  @tailwind variants;
}

/* blur */
.blur-back-40 {
  @apply backdrop-blur-[15px] bg-opacity-40;
}

.blur-back-80 {
  @apply backdrop-blur-[15px] bg-opacity-80;
}

.card-hover {
  @apply hover:rounded-xl hover:shadow-primary active:rounded-xl active:shadow-primary;
  &:hover,
  &:active {
    background: linear-gradient(#fff 0 0) padding-box,
      linear-gradient(to right, #fe839a, #4a72ff) border-box !important;
    border: 2px solid transparent !important;
  }
}

.linear-border {
  background: linear-gradient(#fff 0 0) padding-box,
  linear-gradient(to right, #fe839a, #4a72ff) border-box !important;
  border: 2px solid transparent !important;
}

.card-border:hover {
  background: linear-gradient(#fff 0 0) padding-box,
  linear-gradient(to right, #fe839a, #4a72ff) border-box !important;
  border: 2px solid transparent !important;
}

.submit_story-inner-shadow-primary {
  box-shadow: -3px -4px 18px 0px #FF91A433 inset;
}

.submit_story-inner-shadow-white {
  box-shadow: 13px 4px 20px 0px #FFFFFF99 inset;
}
